
@import "./layouts/footer";
@import "./base/typography";
@import "./outils/mixins";
@import "./outils/variables";
@import "./pages/menupage";
@import "./layouts/nav";
@import"./vendors/animation";

*{
    font-family: 'Roboto', sans-serif;
}

header{

    @media all and (min-width:768px){

        height: 80px;

    }

}


@media all and (min-width:768px){

    .tetedepage{

        display: flex;
        justify-content: space-between;
        background: $color-grey-light;
        padding-bottom: 15px;
        margin-bottom: 25px

    }

}

.link-logo{

    @include centrer-flx;
    padding: 15px 0px;
    text-align: center;    
    

        @media all and (min-width:768px){

            padding-left: 34px;
            padding-bottom: 0px;
            display: flex;
            justify-content: flex-start;
        
        }

    &__menu{

        @media all and (min-width:768px){

            display: flex;
            justify-content: center;
            padding-top: 25px;

        }

    }

}

.logo{
  
    width: 40%;
    @media all and (min-width:768px) {
        width: 200px;
        object-fit: contain;
    }

}

.localisation{

    @include centrer-flx;
    border-radius: 0px;
    position: relative;
    
    
    @media all and (min-width:768px) {

        justify-content: flex-start;
        margin-left: 35px;
        width: 342px;
        background: none;
        box-shadow: none;

    }

    &__picto{
        font-size: 15px;
        position: absolute;
        left: 88px;
        bottom: 21px;

            @media all and (min-width:768px) {

                font-size: 15px;
                position: relative;
                left: 0px;
                bottom: 0px;
                border-radius: 15px 0px 0px 15px;
                padding: 5%;
                background: $color-grey-light;


            }

        }

        &__text{

            font-size: 1rem;
            border: 0px;    
            width: 100%;
            
            padding: 19px 0px;
            text-align: center;
            background: #ececec;
            box-shadow: inset 5px 5px 10px #d3d3d3,
                inset -2px -2px 5px #d3d3d3;

            @media all and (min-width:768px) {
                font-size: 15px;
                display: flex;
                align-items: center;
                background-color: #ececec;
                border: solid 1px $color-grey-light;
                box-shadow: none;
                margin: 0px;
                padding: 0px 10px;
                font-size: 1.1rem;
                font-weight: lighter;
            }

        }
        &__bouton{
            display: none;
            @media all and (min-width:768px) {
                display: block;
                background-color: lighten($color-primary, 10%);
                border: 0px;
                border-radius: 0px 15px 15px 0px;
                padding: 4%;
                font-size: 1.1rem;
                color: #fff;
            }

        }

}

a{
    text-decoration: none;
}

body{

    margin: 0%;

}

.bloc-section{

    padding: 30px 0px;
    background: $color-grey-light;

    &__soustitre{
        padding: 30px 20px;
    }

    @media all and (min-width:768px) {
        
        padding-top: 10px;
        padding-bottom: 30px;
        background: none;

    }
    &__article{

        width: 100%;

        @media all and (min-width:768px) {

            border-radius: 15px;
            background: $color-grey-light;
        
        }
    
    }


}


.slogan-title{

    @include centrer-flx;
    text-align: center;

    @media all and (min-width:768px) {

        text-align: left;
        justify-content: left;
        padding-left: 15px;

    }

    &__titre{

        margin: 0px 0px 10px 0px;
        font-size: 30px;

        @media all and (min-width:768px) {

            font-size: 25px;
            margin: 0px;

        }

    }
    @media all and (min-width:768px) {
        br{
            display: none;
        }
    }

    &__slogan{

        margin: 0px 0px 15px 0px;
        font-size: 1rem;

        @media all and (min-width:768px) {
            font-size: 1.3rem;
        }

    }

}

.div-bouton{

    @include centrer-flx;

}

.bouton{

    padding: 15px 32px;
    font-size: 1rem;
    text-align: center;
    border-radius: 40px;
    border: 0px;
    color: #fff;
    background: $color-degrader-verse1;
    box-shadow:  5px 5px 14px #b8b8b8,
             -5px -5px 14px #ffffff;
    
    @media all and (min-width:768px) {

        padding: 15px 30px;
        font-size: 1.3rem;
        margin-top: 30px;

    }

    &:hover{

        background: $color-hover-degrader;
        box-shadow:  5px 5px 14px #929292,
             -5px -5px 14px #ffffff;

    }

}

@media all and (min-width:768px) {

    .big-container{

        display: flex;
        flex-direction: row-reverse;
        padding: 15px;
        margin-bottom: 15px;

    }
    
}

.titre-bloc{

    padding-left: 20px;

}

.container-restau{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    @media all and (min-width:768px) {

        justify-content: space-around;
        padding: 0px 15px;

    }

}

.container{

    background-color: $color-grey-light;

}

.restau{

    @include box-shadow;
    position: relative;

    @media all and (min-width:768px) {

        width: 47%;

    }

    &__picto{

        position: absolute;
        right: 17px;
        bottom: 31px;
        font-size: 25px;

        @media all and (min-width:768px) {

            right: 10px;
            bottom: 20px;
            font-size: 25px;

        }

        &:hover {

            font-weight: 900;
            background: linear-gradient(#9356DC, #FF79DA);
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;

        }
    }

    &__link{

        text-decoration: none;
        color: black;
    }
    
    &__boxe{
    
        display: flex;
        justify-content: flex-end;

        &__image{

            width: 100%;
            border-radius: 10px 10px 0 0;
            height: 181.35px;
            object-fit: cover;

            @media all and (min-width:768px) {

                

            }

        }

        &__notif{

            position:absolute;
            background-color: $color-tectiaire;
            color: darken($color-tectiaire, 35%);
            padding: 8px;
            border-radius: 2px;
            margin: 10px;
            font-size: 00.8rem;
            font-weight: bold;

            @media all and (min-width:768px) {

                font-size: 1rem;

            }

        }

    }
        
    &__content{

        padding-left: 20px;
        display: flex;
        justify-content: space-between;
            
        &__titre{

            margin:10px 0px 0px;

            @media all and (min-width:768px) {

                font-size: 1.3em;

                }

        }

        &__place{

            margin-top:  0px;

            @media all and (min-width:768px) {

                font-size: 1.1rem;

            }

        }
                

    }

}



