
@import "./layouts/footer";
@import "./base/typography";
@import "./outils/mixins";
@import "./outils/variables";
@import "./pages/menupage";

*{
    font-family: 'Roboto', sans-serif;
}

heade{
    height: 44,74px;
}

@media all and (min-width:768px){

    .tetedepage{

        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;

    }

}

.link-logo{

    @include centrer-flx;
    padding: 15px 0px;
    text-align: center;    
    

        @media all and (min-width:768px){

            padding-left: 30px;
            padding-bottom: 0px;
            display: flex;
            justify-content: flex-start;
        
        }

    &__menu{

        @media all and (min-width:768px){

            display: flex;
            justify-content: center;

        }

    }

}

.logo{
  
    width: 40%;
    @media all and (min-width:768px) {
        width: 85px;
    }

}

.localisation{

    @include centrer-flx;
    border-radius: 0px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #bebebe,
            inset -2px -2px 5px #ffffff;
    
    @media all and (min-width:768px) {

        justify-content: flex-start;
        background: none;
        box-shadow: none;
        padding: 0px 30px;

    }

            &__picto{
            font-size: 15px;
            padding: 19px 10px;

            @media all and (min-width:768px) {

                font-size: 9px;
                padding: 20px 5px 0px 5px;

            }

        }

        &__text{

            font-size: 1rem;
            font-weight: bold;

            @media all and (min-width:768px) {
                font-size: 9px;
                display: flex;
                align-items: flex-end;
                margin: 0px;
                font-weight: lighter;
            }

        }

}

body{

    margin: 0%;

}

.bloc-section{

    padding: 30px 0px;
    background: $color-grey-light;
    @media all and (min-width:768px) {
        
        padding-top: 10px;
        padding-bottom: 10px;

    }
    &__article{

        width: 100%;

        @media all and (min-width:768px) {

            /*width: 70%;*/
        
        }
    
    }


}

.slogan-title{

    @include centrer-flx;
    text-align: center;

    @media all and (min-width:768px) {

        text-align: left;
        justify-content: left;
        padding-left: 15px;

    }

    &__titre{

        margin: 0px 0px 10px 0px;
        font-size: 30px;

        @media all and (min-width:768px) {

            font-size: 15px;
            margin: 0px;

        }

    }
    @media all and (min-width:768px) {
        br{
            display: none;
        }
    }

    &__slogan{

        margin: 0px 0px 20px 0px;
        font-size: 1rem;

        @media all and (min-width:768px) {
            font-size: 0.6rem;
        }

    }

}

.div-bouton{

    @include centrer-flx;

}

.bouton{

    padding: 15px 32px;
    font-size: 1rem;
    text-align: center;
    border-radius: 40px;
    border: 0px;
    color: #fff;
    background: $color-degrader-verse1;
    box-shadow:  5px 5px 14px #b8b8b8,
             -5px -5px 14px #ffffff;
    
    @media all and (min-width:768px) {

        padding: 7px 16px;
        font-size: 0.6rem;


    }

    &:hover{

        background: $color-hover-degrader;
        box-shadow:  5px 5px 14px #929292,
             -5px -5px 14px #ffffff;

    }

}

/*@media all and (min-width:768px) {

    .big-container{

        display: flex;
        flex-direction: row-reverse;

    }
    
}*/
@media all and (min-width:768px) {
    .navigation{
        display: flex;
    }
}
.navigation-sect-bloc{

    margin-top: 50px;

    @media all and (min-width:768px) {

        margin-top: 0px;
        padding: 0px 15px;

    }

}

.bloc-nav{

    @include centrer-flx;
    padding-left: 12px;

}

.nav-section{

    padding: 0px;
    @include centrer-flx;

    @media all and (min-width:768px) {

        width: 33%;

    }

}

.nav-boxe{

    text-decoration: none;
    border-radius: 22px;
    background: $color-grey-light;
    padding: 0px 20px;
    box-shadow:  4px 4px 10px #bebebe,
             -4px -4px 10px #ffffff;
    margin-bottom: 20px;
    width: 74%;
    position: relative;

    &__number{

        height: 12px;
        width: 12px;
        justify-content: center;
        align-items: center;
        display: flex;
        position:absolute;
        left: -11px;
        top: -3px;
        border-radius: 15px;
        color: #fff;
        background-color: $color-primary;
        border: 1px solid $color-primary;
        padding: 5px;
    
        @media all and (min-width:768px) {

            height: 8px;
            width: 8px;
            left: -7px;
            top: -4px;

        }

    }

    &__picto{

        font-size: 18px;
        padding: 20px;
        color: $color-grey;
        position: absolute;
        left: 13px;
        top: -3px;
        
        @media all and (min-width:768px) {

            font-size: 10px;
            padding: 14px;
            left: 21px;

        }

    }

    &__text{

        font-size: 1rem;
        color: #000;
        align-items: center;
        display: flex;
        font-weight: bold;

        @media all and (min-width:768px) {
            font-size: 0.6rem;
        }

    }

    &:hover {

        background: lighten($color-primary, 35%);

        & .nav-boxe__picto{
            color: $color-primary;
        }

    }
        
}

.titre-bloc{

    padding-left: 20px;

}

.container-restau{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    @media all and (min-width:768px) {

        justify-content: space-around;

    }

}

.container{

    background-color: $color-grey-light;

}

.restau{

    @include box-shadow;
    position: relative;

    @media all and (min-width:768px) {

        width: 23%;

    }

    &__picto{

        position: absolute;
        right: 17px;
        bottom: 31px;
        font-size: 25px;

        @media all and (min-width:768px) {

            right: 10px;
            bottom: 20px;
            font-size: 16px;

        }

        &:hover {

            font-weight: 900;
            background: linear-gradient(#9356DC, #FF79DA);
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;

        }
    }

    &__link{

        text-decoration: none;
        color: black;
    }
    
    &__boxe{
    
        display: flex;
        justify-content: flex-end;

        &__image{

            width: 100%;
            border-radius: 10px 10px 0 0;
            height: 181.35px;
            object-fit: cover;

            @media all and (min-width:768px) {

                height: 80px;

            }

        }

        &__notif{

            position:absolute;
            background-color: $color-tectiaire;
            color: darken($color-tectiaire, 35%);
            padding: 8px;
            border-radius: 2px;
            margin: 10px;
            font-size: 00.8rem;
            font-weight: bold;

            @media all and (min-width:768px) {

                font-size: 0.5rem;

            }

        }

    }
        
    &__content{

        padding-left: 20px;
        display: flex;
        justify-content: space-between;
            
        &__titre{

            margin:10px 0px 0px;

            @media all and (min-width:768px) {

                font-size: 0.8em;

                }

        }

        &__place{

            margin-top:  0px;

        }
                

    }

}
.titre-partie{
    font-size: 1.2em;
}


