@mixin centrer-flx {
    display: flex;
    justify-content: center;
}
@mixin box-shadow{
    width: 85%;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #ebebeb,
                 -5px -5px 10px #ffffff;
}