@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.text-logo {
  margin: 0px;
  color: #fff;
  padding: 15px 0px 0px 15px;
  margin-bottom: 20px;
}

.bloc-footer {
  background-color: #333333;
}

.bloc-footer__line {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  color: #fff;
  margin: 0px;
  font-size: 0.8rem;
}

.bloc-footer__line__picto {
  font-size: 11px;
}

.bloc-footer__line__text {
  margin: 0px;
  padding-left: 10px;
}

.bloc-footer__line__text--bold {
  font-weight: bold;
}

.titre-typo {
  font-family: 'Shrikhand', cursif;
}

.texte-typo {
  font-family: 'Roboto', sans-serif;
}

.texte-typo--bold {
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px;
}

.logo {
  width: 60%;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px;
  background: #e0e0e0;
  -webkit-box-shadow: inset 5px 5px 10px #bebebe, inset -2px -2px 5px #ffffff;
          box-shadow: inset 5px 5px 10px #bebebe, inset -2px -2px 5px #ffffff;
}

.localisation__picto {
  font-size: 15px;
  padding: 19px;
}

.localisation__text {
  font-size: 1.1rem;
}

body {
  margin: 0%;
}

.bloc-section {
  padding: 30px 0px;
  background: #f8f8f8;
}

.slogan-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.slogan-title__titre {
  margin: 0px 0px 20px 0px;
  font-size: 30px;
  font-weight: bold;
}

.slogan-title__slogan {
  margin: 0px 0px 20px 0px;
  font-size: 1rem;
}

.div-bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bouton {
  padding: 15px 32px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 40px;
  border: 0px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

.bloc-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-section {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-boxe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-radius: 22px;
  background: #f8f8f8;
  padding: 0px 20px;
  -webkit-box-shadow: 4px 4px 10px #bebebe, -4px -4px 10px #ffffff;
          box-shadow: 4px 4px 10px #bebebe, -4px -4px 10px #ffffff;
  margin-bottom: 20px;
  width: 74%;
}

.nav-boxe__number {
  position: absolute;
  font-size: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 5px;
}

.nav-boxe__picto {
  font-size: 25px;
  padding: 20px;
  color: gray;
}

.nav-boxe__text {
  font-size: 1rem;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

.nav-boxe:active {
  background: #f2eafb;
}

.titre-bloc {
  padding-left: 20px;
}

.container-restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  background-color: #f8f8f8;
}

.restau {
  width: 85%;
  border-radius: 10px;
  margin-bottom: 30px;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 10px #ebebeb, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #ebebeb, -5px -5px 10px #ffffff;
}

.restau__boxe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.restau__boxe__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 181.35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restau__boxe__notif {
  position: absolute;
  background-color: #99E2D0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  margin: 10px;
  font-size: 00.8rem;
  font-weight: bold;
}

.restau__content {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*align-items: flex-end;*/
}

.restau__content__titre {
  margin: 10px 0px 0px;
}

.restau__content__place {
  margin-top: 0px;
}

.restau__content__blocpicto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.restau__content__picto {
  color: #9356DC;
  font-size: 25px;
}

.restau__content__picto:hover {
  display: none;
}

.restau__content__picto-active {
  display: none;
  font-size: 25px;
  color: #000;
  /*color: linear-gradient( $color-primary, $color-secondary);*/
}
/*# sourceMappingURL=main.css.map */