@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.text-logo {
  margin: 0px;
  color: #fff;
  padding: 15px 0px 0px 15px;
  margin-bottom: 20px;
}

.bloc-footer {
  background-color: #333333;
}

.bloc-footer__line {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  color: #fff;
  margin: 0px;
  font-size: 0.8rem;
}

.bloc-footer__line__picto {
  font-size: 11px;
  width: 11px;
}

.bloc-footer__line__picto-litle {
  font-size: 9px;
}

.bloc-footer__line__text {
  margin: 0px;
  padding-left: 10px;
}

.bloc-footer__line__text--bold {
  font-weight: bold;
}

.titre-typo {
  font-family: 'Shrikhand', cursif;
}

.texte-typo {
  font-family: 'Roboto', sans-serif;
}

.texte-typo--bold {
  font-weight: bold;
}

/*$col-light-prim:lighten($color-primary, 40%);*/
/*$col-light-sec: lighten($color-secondary, 40%);*/
body {
  position: relative;
}

.tete-de-page {
  position: relative;
  text-decoration: none;
  top: 0px;
}

.tete-de-page__picto {
  position: absolute;
  color: black;
  left: 24px;
  top: 19px;
}

.image-menu {
  width: 100%;
}

.container {
  position: relative;
}

.container__menus {
  position: absolute;
  bottom: -1296px;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  background-color: #f8f8f8;
}

.titre-menus {
  position: relative;
  padding: 15px;
}

.titre-menus__picto {
  position: absolute;
  right: 30px;
  top: 45px;
}

.titre-menus__picto:hover {
  font-weight: 900;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc-content-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  margin-bottom: 30px;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 10px #ebebeb, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #ebebeb, -5px -5px 10px #ffffff;
}

.menu {
  padding: 15px;
}

.menu__titre {
  color: gray;
  padding-bottom: 10px;
  -webkit-text-decoration: underline #99E2D0;
          text-decoration: underline #99E2D0;
  margin: 0px;
}

.menu__souligner {
  margin: 0px;
  width: 20px;
}

.menu__bloc {
  width: 91%;
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.menu__bloc:hover + .boxe-picto {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu__bloc__texte {
  width: 90%;
}

.menu__bloc__line {
  margin: 0px;
}

.menu__bloc__line__name {
  font-size: 1rem;
}

.menu__bloc__line__commentair {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__bloc__prix {
  font-weight: bold;
  padding-top: 20px;
  width: 10%;
  font-size: 0.9rem;
}

.boxe-picto {
  border-radius: 0px 10px 10px 0px;
  background-color: #99E2D0;
  padding: 20px;
  -webkit-transform-origin: right 0%;
          transform-origin: right 0%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1), -webkit-transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}

.bouton-menu {
  margin-bottom: 50px;
  text-align: center;
}

* {
  font-family: 'Roboto', sans-serif;
}

.link-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px;
  text-align: center;
}

.logo {
  width: 40%;
}

@media (min-width: 768) {
  .logo {
    width: 30%;
  }
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px;
  background: #e0e0e0;
  -webkit-box-shadow: inset 5px 5px 10px #bebebe, inset -2px -2px 5px #ffffff;
          box-shadow: inset 5px 5px 10px #bebebe, inset -2px -2px 5px #ffffff;
}

.localisation__picto {
  font-size: 15px;
  padding: 19px 10px;
}

.localisation__text {
  font-size: 1rem;
  font-weight: bold;
}

body {
  margin: 0%;
}

.bloc-section {
  padding: 30px 0px;
  background: #f8f8f8;
}

.slogan-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.slogan-title__titre {
  margin: 0px 0px 10px 0px;
  font-size: 30px;
}

.slogan-title__slogan {
  margin: 0px 0px 20px 0px;
  font-size: 1rem;
}

.div-bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bouton {
  padding: 15px 32px;
  font-size: 1rem;
  text-align: center;
  border-radius: 40px;
  border: 0px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 5px 5px 14px #b8b8b8, -5px -5px 14px #ffffff;
          box-shadow: 5px 5px 14px #b8b8b8, -5px -5px 14px #ffffff;
}

.bouton:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#9b63df));
  background: linear-gradient(#ff88de, #9b63df);
  -webkit-box-shadow: 5px 5px 14px #929292, -5px -5px 14px #ffffff;
          box-shadow: 5px 5px 14px #929292, -5px -5px 14px #ffffff;
}

nav {
  margin-top: 50px;
}

.bloc-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 12px;
}

.nav-section {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-boxe {
  text-decoration: none;
  border-radius: 22px;
  background: #f8f8f8;
  padding: 0px 20px;
  -webkit-box-shadow: 4px 4px 10px #bebebe, -4px -4px 10px #ffffff;
          box-shadow: 4px 4px 10px #bebebe, -4px -4px 10px #ffffff;
  margin-bottom: 20px;
  width: 74%;
  position: relative;
}

.nav-boxe__number {
  height: 12px;
  width: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -11px;
  top: -3px;
  border-radius: 15px;
  color: #fff;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  padding: 5px;
}

.nav-boxe__picto {
  font-size: 18px;
  padding: 20px;
  color: gray;
  position: absolute;
  left: 13px;
  top: -3px;
}

.nav-boxe__text {
  font-size: 1rem;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

.nav-boxe:hover {
  background: #f2eafb;
}

.nav-boxe:hover .nav-boxe__picto {
  color: #9356DC;
}

.titre-bloc {
  padding-left: 20px;
}

.container-restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  background-color: #f8f8f8;
}

.restau {
  width: 85%;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 10px #ebebeb, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #ebebeb, -5px -5px 10px #ffffff;
  position: relative;
}

.restau__picto {
  position: absolute;
  right: 17px;
  bottom: 31px;
  font-size: 25px;
}

.restau__picto:hover {
  font-weight: 900;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restau__link {
  text-decoration: none;
  color: black;
}

.restau__boxe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.restau__boxe__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 181.35px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restau__boxe__notif {
  position: absolute;
  background-color: #99E2D0;
  color: #2c9c81;
  padding: 8px;
  border-radius: 2px;
  margin: 10px;
  font-size: 00.8rem;
  font-weight: bold;
}

.restau__content {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restau__content__titre {
  margin: 10px 0px 0px;
}

.restau__content__place {
  margin-top: 0px;
}
/*# sourceMappingURL=main.css.map */