body{
    position: relative;
}

.tete-de-page{

    position: relative;
    text-decoration: none;
    top: 0px;

    @media all and (min-width:768px) {

        height: 80px;

    }
    
    &__picto{

        position: absolute;
        color: black;
        left: 24px;
       top:19px;

        @media all and (min-width:768px) {

            top: 29px;
            font-size: 30px;

        }

    }
}
    
.image-menu{

    height: 260px;
    width: 100%;
    object-fit: cover;

    @media all and (min-width:768px) {

        height: 250px;

    }

}

.container{

    

    &__menus{

        position: relative;
        bottom: 60px;
        width: 100%;
        border-radius: 30px 30px 0px 0px;
        background-color: lighten(gray, 47%);

        @media all and (min-width:768px) {

            position: relative;
            bottom: 0px;
            border-radius: 0px;

        }
        
    }

}


@media all and (min-width:768px) {

    .boxe-glob-menu{

        animation: fadein 3s;
        -moz-animation: fadein 3s; /* Firefox */
        -webkit-animation: fadein 3s; /* Safari and Chrome */
        -o-animation: fadein 3s; /* Opera */
        flex-wrap: wrap;
        display: flex;
        justify-content: center;

    }

}

@media all and (min-width:768px) {

    .titre-partie{

        font-size: 1.8em;
        margin: 15px 0px 25px 10px;
        text-align: center;

    }

}

.titre-menus{

    position: relative;
    padding: 15px;

    &__picto{

        position: absolute;
        right: 30px;
        top: 38px;
        font-size: 25px;

        &:hover {

            font-weight: 900;
            background: linear-gradient(#9356DC, #FF79DA);
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;

        }

    }

}

.bloc-content-menu{

    display: flex;
    border-radius: 10px;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #ebebeb,
                    -5px -5px 10px #ffffff;

}

hr{
    border: 1px solid #99E2D0;
    width: 37px;
    background-color: #99E2D0;
    margin: 0px 0px 15px 0px;
}

.menu{

    padding: 15px;

    @media all and (min-width:768px) {

    width: 60%;

    }

    &__titre{
        
        color: gray;
        margin: 0px;
        padding-bottom: 2px;

        @media all and (min-width:768px) {

            font-size: 1.5rem;

        }

    }

    &__souligner{
        margin: 0px;
        width: 20px;
    }

    &__bloc{

        width: 100%;
        text-decoration: none;
        color: #000;
        display: flex;
        justify-content: space-between;
        padding: 10px;

        &:hover + .boxe-picto{

            width: 70px;
            padding: 25px 0px;
            text-align: center;
                
            & > .picto-anime{
    
                font-size: 18px;
                transform: rotate(0deg);
    
            }
    
        }

        /*
        &__texte{
            width: 90%;
        }*/
        
        &__line{

            margin: 0px;

            &__name{

                font-size: 1rem;

                @media all and (min-width:768px) {

                    font-size: 1.4rem;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }

            }

            &__commentair{

                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;


                @media all and (min-width:768px) {

                    font-size: 1.2rem;

                }

            }

        }

        &__prix{

            font-weight: bold;
            padding-top: 20px;
            width: 10%;
            font-size: 0.9rem;

            @media all and (min-width:768px) {

                font-size: 1.3rem;
                padding-top: 24px;

            }

        }

    }
}


.boxe-picto{
        
    
    border-radius: 0px 10px 10px 0px;
    background-color: #99E2D0;
    transform-origin: right 0%;
    width: 0px;
    transition: width 1000ms cubic-bezier(.32,0,.07,1);

    & .picto-anime{
        font-size: 0px;
        transform: rotate(360deg);
        transition: transform 700ms ease-in-out;
        
    }

}

.bouton-menu{

    margin-bottom: 50px;
    text-align: center;

}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}