body{
    position: relative;
}
header{
    position: fixed;


}
.tete-de-page{
    position: relative;
    text-decoration: none;
    top: 0px;
    
    &__picto{
        position: absolute;
        color: black;
        left: 24px;
       top:19px;
    }
}
    
.image-menu{

    width: 100%;

}

.container{

    position: relative;

    &__menus{

        position: absolute;
        bottom: -1296px;
        width: 100%;
        border-radius: 30px 30px 0px 0px;
        background-color: lighten(gray, 47%);
        
    }

}

.titre-menus{

    position: relative;
    padding: 15px;

    &__picto{

        position: absolute;
        right: 30px;
        top: 45px;

    }
}

.bloc-content-menu{
    display: flex;
    justify-content: center;
}

.menu{

    padding: 15px;

    &__titre{
        color: gray;
        padding-bottom: 10px;
        margin: 0px;
    }

    &__souligner{
        margin: 0px;
    }

    &__bloc{

        text-decoration: none;
        color: #000;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 30px;
        background: #ffffff;
        box-shadow:  5px 5px 10px #ebebeb,
                    -5px -5px 10px #ffffff;
        
        &__texte{
            width: 90%;
        }
        
        &__line{
            margin: 0px;
            &__name{
                font-size: 1rem;
            }
            &__commentair{
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__prix{
            font-weight: bold;
            padding-top: 20px;
            width: 10%;
            font-size: 0.9rem;
        }
    }

}

.bouton-menu{
    margin-bottom: 50px;
    text-align: center;
}
