.tete-de-page{
    position: relative;
    text-decoration: none;
    
    &__picto{
        position: absolute;
        color: black;
        left: 24px;
       top:19px;
    }
}
    
.image-menu{
    width: 100%;
}

.container{

    position: relative;

}



