body{
    position: relative;
}

.tete-de-page{
    position: relative;
    text-decoration: none;
    top: 0px;
    
    &__picto{
        position: absolute;
        color: black;
        left: 24px;
       top:19px;
    }
}
    
.image-menu{

    width: 100%;

}

.container{

    position: relative;

    &__menus{

        position: absolute;
        bottom: -1296px;
        width: 100%;
        border-radius: 30px 30px 0px 0px;
        background-color: lighten(gray, 47%);
        
    }

}

.titre-menus{

    position: relative;
    padding: 15px;

    &__picto{

        position: absolute;
        right: 30px;
        top: 45px;

    }
}

.bloc-content-menu{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #ebebeb,
                    -5px -5px 10px #ffffff;
}

.menu{

    padding: 15px;

    &__titre{
        color: gray;
        padding-bottom: 10px;
        text-decoration: underline #99E2D0;
        margin: 0px;
    }

    &__souligner{
        margin: 0px;
        width: 20px;
    }

    &__bloc{

        text-decoration: none;
        color: #000;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    
        &:hover + .boxe-picto{
            transform: scaleX(1);
        }
        
        &__texte{
            width: 90%;
        }
        
        &__line{

            margin: 0px;

            &__name{

                font-size: 1rem;

            }

            &__commentair{

                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

            }

        }

        &__prix{

            font-weight: bold;
            padding-top: 20px;
            width: 10%;
            font-size: 0.9rem;

        }

    }
}


.boxe-picto{
        
    border-radius: 0px 10px 10px 0px;
    background-color: #99E2D0;
    padding: 20px;
    transform-origin: right 0%;
    transform: scaleX(0);
    transition: transform 1000ms cubic-bezier(.32,0,.07,1);

}


.bouton-menu{

    margin-bottom: 50px;
    text-align: center;

}
