.text-logo{
    margin: 0px;
    color: #fff;
    padding: 15px 0px 0px 15px ;
    margin-bottom: 30px;
}
.bloc-footer{
    background-color: black;
    &__line{
        padding-left: 15px;
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        &__picto{
            color:#fff;
        }
        &__text{
            margin: 0px;
            padding-left: 10px;
            color: #fff;
        }
    }
}
